.container {
  width: 300px;
  height: 200px;
  background-color: #00bacd;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#searchU {
  margin-top: 50px;
  width: 90%;
  border-radius: 4px;
  border: none;
  padding: 10px;
}
#Boton {
  margin-top: 10px;
  width: 90%;
  border-radius: 4px;
  border: none;
  padding: 10px;
  color: #034b53;
  font-weight: bold;
  background-color: #5fddeb;
  cursor: pointer;
}
